@import "variables.scss";


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.ng-click-active {
  background-color: $sideBlue !important;
  color: white;
}

.listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 10px; }
.colorBlue{
    background-color:rgb(0,162,232);
    color:white;
}


.progressLineardemoBasicUsage body {
  padding: 20px; }
.progressLineardemoBasicUsage h4 {
  margin: 10px 0; }
.progressLineardemoBasicUsage md-progress-linear {
  padding-top: 10px;
  margin-bottom: 20px; }
